# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# /src/assets/images/backgrounds
# /src/assets/images/blog
# /src/assets/images/brand
# /src/assets/images/destination
# /src/assets/images/gallery
# /src/assets/images/resources
# /src/assets/images/shapes
# /src/assets/images/team
# /src/assets/images/testimonial
# /src/assets/images/vendors

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel
